/* APP GLOBAL STYLING */

:root {
  --app-color-primary: none;
  --app-color-secondary: none;
}


/* CSS RESET */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: none !important;
}

/* BOOTSTRAP STYLING */

/* CUSTOM STYLING */